@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-screen dark:bg-blue overflow-hidden;
}

section {
    @apply w-full py-4 mb-10;
}

p {
    @apply p-4 text-lg text-center text-blue dark:text-white;
}

.main-view {
    @apply divide-y-2 divide-lightblue;
}