@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply dark:bg-blue overflow-hidden;
}

section {
    @apply w-full py-4 mb-10;
}

.main-view {
    @apply divide-y-2 divide-lightblue;
}